<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <title>LCO Tshirt store</title>
</head>
<body class="bg-dark ">
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-6 mt-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Read API docs here</h5>
                  <p class="card-text">All API docs are available here. You have access to everything except admin credentials. If you are a team member of LCO, get it from me (Hitesh)</p>
                  <a href="/api-docs" class="btn btn-primary">Store DOCS</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mt-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">LCO course</h5>
                  <p class="card-text">You can visit our courses at LearnCodeonline. There is something amazing for everyone there.</p>
                  <a href="https://courses.learncodeonline.in/learn" target="_blank" class="btn btn-primary">Visit LCO</a>
                </div>
              </div>
            </div>
          </div>
    </div>
</body>
</html>